$fonts: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
$nice-yellow: #EBC46B;
$border-color: #d2d2d2;
$violet: #7245A5;

html, body, #root {
    margin: 0;
    padding: 0;    
    font-family: $fonts;    
    box-sizing: border-box;        
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    >.wrapper {
        flex:1;
    }
}

.wrapper {
    max-width: 1082px;
    width: 100%;
    margin: 0 auto;        
    position: relative;    
    clear: both;
}

.input {
    min-height: 40px;
    min-width: 350px;
    border-radius: 3px;
    border: 1px solid $border-color;
    font-size: 16px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: $fonts;
    &::placeholder {
        font-family: $fonts;
        font-style: italic;
        font-weight: 400;
        letter-spacing: .02em;
    }
}

.stretch {
    float:left;
    width: 100%;
}

.caption-font {
    font-size: 17px;
    font-weight: 600;
}

.header {
    @extend .stretch;
    background: $violet;    
    position: relative;
    z-index: 3;
}

h1 {
    float: left;
    font-size: 32px;
    letter-spacing: 2px;
    font-family: 'M PLUS Rounded 1c', $fonts;
    color:#fff;
    margin: 14px 0px;

    i {
        font-style: normal;
        color: $nice-yellow;
    }
}

h2 {
    @extend .stretch;
    font-weight: 600;
    font-size: 22px;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: $violet;
}

.logo {
    width: 37px;
    height: 37px;
    background: url('/img/disquss_logo.png') no-repeat;
    background-size: cover;
    display: inline-block;
    margin-bottom: -12px;
}

// button {
//     background: #bf3737;
//     padding: 10px 20px;
//     border-radius: 5px;
//     border: none;
//     font-size: .9em;
//     color: #fff;    
//     letter-spacing: 1px;
//     font-weight: 600;
// }

@keyframes slideDown {
    from {
        transform: scaleY(0);
        max-height: 0;
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        max-height: 400px;
        opacity: 1;
    }
}
@keyframes slideUp {
    from {
        transform: scaleY(1);
        max-height: 400px;
        opacity: 1;
    }
    to {
        transform: scaleY(0);
        max-height: 0;
        opacity: 0;
    }
}

.submit-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #fff;
    padding: 40px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
    border-radius: 0 0 5px 5px;
    animation: slideDown .3s ease-in-out forwards;
    transform-origin: top left;

    &__logged-user {
        margin-top: 10px;
        margin-right: 20px;
        font-weight: 600;
    }

    &.rollup {
        animation: slideUp .3s ease-in-out forwards;
    }

    textarea {
        flex-basis: 100%;
        @extend .input;
        margin-bottom: 10px;
    }

    input {
        @extend .input;
        margin: 0 10px 10px 0;
        font-family: $fonts;
        width: 300px;
    }
}

.bar {
    @extend .stretch;
    background: #f9f9f9;
    border-bottom: #E2E2E2;    
    padding: 22px 0;
    border-bottom: 1px solid $border-color;
}

.auth {
    float: right;
    display: flex;
    flex-wrap: wrap;
    width: 340px;
    background: #fff;
    padding: 30px 50px;
    border-radius: 9px;
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;    
    top: 75px;
    z-index: 2;

    input {
        @extend .input;
        flex-basis: 100%;        
        margin-bottom: 15px;        
    }   
}

.auth-buttons {
    @extend .caption-font;
    color: #fff;
    margin-top: 25px;
    float: right;

    &__sign-in {
        margin-right: 15px;
        cursor: pointer;
        text-decoration: underline;
    }

    .button-prim {
        margin-left: 15px;
    }
}

.button-prim {
    background: $nice-yellow;
    color: $violet;
    border-radius: 5px;
    padding: 8px 25px;
    box-shadow: -3px 3px 0 0 #fff;
    cursor: pointer;
    border: none;
    @extend .caption-font;
    font-family: $fonts;
}

.button-sec {
    @extend .button-prim;
    color: #fff;
    background: #a087bd;
    font-size: .9em;
}

.link-prim {
    @extend .caption-font;
    color: $violet;    
    cursor: pointer;

    &--cancel {
        margin-top: 9px;
        margin-left: 25px;
    }

    &--edit {
        float: right;
        margin-top: 8px;

        &::before {
            content: '';
            display: inline-block;
            width: 21px;
            height: 21px;
            background: url('/img/pencil.svg') no-repeat;
            background-size: cover;
            margin-bottom: -4px;
            margin-right: 5px;
        }
    }
}

.link-sec {
    @extend .link-prim;
    font-size: .9em;

    &--cancel {
        margin-left: 20px;
    }
}

.hello {
    float: right;
    font-size: 17px;
    font-weight: 600;
    margin-top: 30px;
    color: #fff;

    &__logout {
        width: 22px;
        height: 22px;
        background: url('/img/logout.svg') no-repeat;
        background-size: cover;
        display: inline-block;
        margin-left: 15px;
        margin-bottom: -6px;
        cursor: pointer;
    }
}

@keyframes loading {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-5px);
    }    
    80% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes loading-stage {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-2px, 2px);
    }    
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    width: 100%;

    &__container {
        position: relative;
        animation: loading 1s ease-in-out infinite;
    }

    &__contents {
        background: url('/img/loading.svg') no-repeat;
        background-size: cover;
        filter: grayscale(100%) brightness(115%);
        position: relative;

        &:first-of-type {
            position: absolute;
            opacity: .6;
            left: -7px;
            top: 4px;
            animation: loading-stage 1s ease-in-out infinite;
        }
    }
}

.controls {    
    display: flex;
    padding: 20px 1px;
}

@keyframes checked {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
        background: $violet;
    }
    100% {
        transform: scale(1);
    }
}

.tasks {    
    padding: 20px 0;  
    min-height: 505px;
    box-sizing: border-box;
    
    &__item{
        margin-bottom: 30px;
        border-bottom: 1px solid $border-color;
        padding-bottom: 40px;        

        &--done {
            .tasks__id::before {
                content: 'completed';
                font-size: 11px;
                background: $nice-yellow;
                text-transform: uppercase;
                display: inline-block;
                padding: 3px 12px;
                border-radius: 3px;
                color: #000;
                margin-right: 15px;
                text-shadow: -1px 1px 0 rgba(255,255,255,.6);
            }
        }   
        
        &--editing {
            padding-left: 50px;
        }
    }

    &__userinfo {
        flex-grow: 1;
    }

    &__userpic {
        width: 40px;
        height: 40px;
        background: #f5f5f5;
        border-radius: 50%;
        float: left;
        margin-right: 15px;
        overflow: hidden
    }

    &__username {
        font-weight: 600;                
    }

    &__email {             
        font-size: .9em;
    }

    &__container {        
        padding: 10px 0;
        border-radius: 5px;  
        display: flex;      
    }

    &__text {        
        font-size: 15px;
    }
    
    &__id{
        color: #9F9F9F;
        font-size: 15px;
    }

    &__edit-form {
        position: relative;
    }

    textarea {
        @extend .input;
        width:100%;
        margin-bottom: 10px;
    }
    form {
        margin-bottom: 30px;

        .tasks__email {
            margin-bottom: 5px;
        }
    }

    input[type=checkbox] {
        float: left;
        margin-top: 5px;
        display: none;

        + label {
            float:left;
            width: 21px;
            height: 21px;
            border: 2px solid $violet;
            border-radius: 50%;
            cursor: pointer;      
            position: absolute;
            top: -53px;
            left: -50px;

            &.changing {
                animation: checked .2s ease;
            }
        }

        &:checked {
            +label {
                background: $violet url('/img/checkmark.svg') no-repeat;
                background-size: 13px;
                background-position: center;                
            }
        }
    }
}

.prevent-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.sortings {    
    border-radius: 9px 9px 0 0; 
    float:left;
    @extend .controls;

    &__item{
        @extend .prevent-selection;
        margin-right: 80px;
        font-size: 14px;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
            opacity: .8;
        }

        &.selected {
            font-weight: 600;
            position: relative;
            color: $violet;

            &.asc, &.desc {
                &::after {
                    content: '';
                    display: block;
                    border-width: 4px;
                    border-color: $violet transparent transparent  transparent;
                    border-style: solid;
                    position: absolute;
                    right: -15px;
                    top: 9px;
                }                
            }

            &.desc::after{
                transform: rotate(180deg);
                top: 5px;
            }
        }
    }
}

.button-add-task{
    @extend .caption-font;
    margin-top: -72px;
    cursor: pointer;
    float:right;

    &::before {
        content: '';
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url('/img/add.png') no-repeat;
        margin-bottom: -15px;
        margin-right: 10px;
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.pagination {    
    border-radius: 0 0 9px 9px;    
    margin-bottom: 20px;
    @extend .controls;

    &__page {        
        @extend .prevent-selection;
        margin-right: 20px;
        cursor: pointer;
        position: relative;
        font-weight: 600;
        font-size: 14px;
        padding: 5px 10px;

        &:hover {
            opacity: .8;
        }
        
        &::after {
            content: '';
            display:block;
            width: 35px;
            height: 35px;
            background: $nice-yellow;
            border-radius: 50%;
            position: absolute;
            top: -2px;
            left: -4px;
            z-index: -1;
            display: none;
        }

        &.selected {
         
            &::after{
                display: block;
                animation: zoom .3s ease-in-out forwards;
            }
        }
    }
}

.input-error {
    position: absolute;
    bottom: 36px;
    padding: 10px 30px;
    color: #c30000;
    z-index: 125;
    left: 30%;
    border-radius: 5px;
    background: #fff1f1;
}

.footer {
    background: $nice-yellow;
    height: 215px;
    width: 100%;
}